<mat-toolbar>
    <a
      mat-button
      [routerLink]="['/user/login']"
      style="color: white; font-size: 18px; margin-right: 10px;"
    >
      <i class="material-icons">person</i>
      SingIn
    </a>
  
    <a
      mat-button
      [routerLink]="['/user/register']"
      style="color: white; font-size: 18px; margin-right: 10px;"
    >
      <i class="material-icons">person_add</i>
      Register
    </a>
  
    <a
      mat-button
      [routerLink]="['/recipe/all-recipe']"
      style="color: white; font-size: 18px; margin-right: 10px;"
    >
      <i class="material-icons">list</i>
      All Recipes
    </a>
  
    <a
      mat-button
      [routerLink]="['/recipe/add-recipe']"
      style="color: white; font-size: 18px; margin-right: 10px;"
    >
      <i class="material-icons">add</i>
      Add Recipe
    </a>
  
    <a
      mat-button
      [routerLink]="['/user/logout']"
      style="color: white; font-size: 18px; margin-right: 10px;"
    >
      <i class="material-icons">logout</i>
      SingOut
    </a>
  </mat-toolbar>
  