<h1>:הוספת מתכון חדש</h1>
<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
<mat-form-field appearance="fill">
  <mat-label>שם המתכון</mat-label>
  <input matInput type="text" id="recipeName" formControlName="recipeName">
</mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>קטגוריה</mat-label>
  <mat-select id="category" formControlName="category">
    <mat-option value="" disabled>בחר קטגוריה</mat-option>
    <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
  </mat-select>
</mat-form-field>
<br>

<mat-form-field appearance="fill">
  <mat-label>זמן הכנה (דקות)</mat-label>
  <input matInput type="number" id="preparationTime" formControlName="preparationTime">
</mat-form-field>
<br>

<mat-form-field appearance="fill">
  <mat-label>רמת קושי</mat-label>
  <mat-select id="difficultyLevel" formControlName="difficultyLevel">
    <mat-option value="" disabled>בחר רמת קושי</mat-option>
    <mat-option value="1">קל מאד</mat-option>
    <mat-option value="2">קל</mat-option>
    <mat-option value="3">בינוני</mat-option>
    <mat-option value="4">קשה</mat-option>
    <mat-option value="5">קשה מאד</mat-option>
  </mat-select>
</mat-form-field>
<br>
<h3>מרכיבים</h3>
<div formArrayName="ingredients">
  <div *ngFor="let item of ingredients.controls; let i = index" [formGroupName]="i">
    <input  type="text" formControlName="ingredient">
    <button type="button" (click)="removeIngredient(i)">X</button>
  </div>
</div>
<button mat-raised-button type="button" (click)="addIngredient()">הוסף מרכיב</button>

<h3>הוראות הכנה</h3>
<div formArrayName="instructions">
  <div *ngFor="let item of instructions.controls; let i = index" [formGroupName]="i">
    <input type="text" formControlName="instruction">
    <button type="button" (click)="removeInstruction(i)">X</button>
  </div>
</div>
<button mat-raised-button type="button" (click)="addInstruction()">הוסף הוראה</button>
<br>
<br>
  <button mat-raised-button type="submit">שמור מתכון</button>
</form>