#notFound{
        background-image: url('https://miro.medium.com/v2/resize:fit:1358/0*QOZm9X5er1Y0r5-t');
        background-size: cover;
        background-position-x: center;
        background-attachment: fixed;
        min-height: 100vh;
}